{% extends 'public/base_cpanel.html' %}
<!-- Cambiando el title -->
{% block title %}Crud con Python 🐍 | Registrar Paciente{% endblock %}
<!---->
{% block customCSS %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename ='assets/css/file.css') }}" />
{% endblock %}

<!-- Inicio del block -->
{% block body %}
<div class="card" style="border-radius: 0px !important">
  <div class="row justify-content-center mb-2">
    <div class="col-md-12">
      <h3 class="text-center mt-5 mb-3">REGISTRAR NUEVO PACIENTE</h3>
      <hr />
    </div>
  </div>

  <div class="row justify-content-center mb-2">
    <div class="col-md-10">
      <form
        class="form-horizontal mx-auto"
        method="POST"
        action="{{ url_for('cpanelResgisterPacienteBD') }}"
        autocomplete="off"
        enctype="multipart/form-data">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <label for="nombre_paciente" class="form-label">
                Nombre del paciente
              </label>
              <input
                type="text"
                name="nombre_paciente"
                class="form-control"
                required />
            </div>
            <div class="col-md-6">
              <label for="apellido_paciente" class="form-label">
                Apellido del paciente
              </label>
              <input
                class="form-control"
                type="text"
                name="apellido_paciente"
                required />
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-md-6">
              <label for="email_paciente" class="form-label">
                Email del paciente
              </label>
              <input
                class="form-control"
                type="email"
                name="email_paciente"
                required />
            </div>
            <div class="col-md-6">
              <label for="password_paciente" class="form-label">
                Password del paciente
              </label>
              <input
                class="form-control"
                type="password"
                name="password_paciente"
                required />
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-md-6">
              <label for="id_clinico" class="form-label">
                ID Clínico
              </label>
              <input
                class="form-control"
                type="text"
                name="id_clinico"
                id="id_clinico"
                required />
            </div>
            <div class="col-md-6">
              <label for="" class="form-label">
                CARGAR IMAGEN DEL PACIENTE
              </label>
              <div class="avatar-upload">
                <div class="avatar-edit">
                  <input
                    type="file"
                    name="foto_paciente"
                    id="imageUpload"
                    accept=".png, .jpg, .jpeg" />
                  <label for="imageUpload"><i class="bi bi-pen"></i></label>
                </div>
                <div class="avatar-preview">
                  <div class="avatar-preview">
                    {% set url_avatar= url_for('static', filename
                    ='assets/img/avatar.png') %}
                    <div
                      id="imagePreview"
                      style="background-image: url('{{ url_avatar }}')"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="mb-3 mt-4 text-center">
            <button type="submit" class="btn rounded-pill btn-primary">
              Guardar registro ahora
              <i class="bi bi-arrow-clockwise"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
{% block customJS %}
<script src="{{ url_for('static', filename ='assets/customJS/file.js') }}"></script>
{% endblock %}
