{% extends 'public/base_cpanel.html' %}

{% block body %}
<div class="row justify-content-center mb-2">
  <div class="table-responsive text-nowrap table-hover">
    <div id="contador" class="contador"></div>
    <div id="imagen1" class="imagenDiv imagen1" style="display: flex; flex-direction: column; margin: 0 auto;">
      <br><p class="titulo">Instrucciones</p>
      <p class="descripcion">Realiza los ejercicios siguiendo las Instrucciones que aparecen en la pantalla. Despues de completar el ejercicio el boton se activara.</p>
    </div>
    <div id="imagen2" class="imagenDiv imagen2" style="display: none; margin: 0 auto;">
      <br><p class="titulo">Instrucciones</p><p class="descripcion">Tienes que mirar a tu lado izquierdo durante 30 segundos.</p>
      <img s src="{{ url_for('static', filename ='./assets/img/examenes/primer_nivel/izquierda.png') }}" alt="Descripción de la imagen">
    </div>
    <div id="imagen3" class="imagenDiv imagen3" style="display: none; margin: 0 auto;">
      <br><p class="titulo">Instrucciones</p><p class="descripcion">Tienes que mirar a tu lado derecho durante 30 segundos.</p>
      <img s src="{{ url_for('static', filename ='./assets/img/examenes/primer_nivel/derecha.png') }}" alt="Descripción de la imagen">
    </div>
    <div id="imagen4" class="imagenDiv imagen4" style="display: none; margin: 0 auto;">
      <br><p class="titulo">Instrucciones</p><p class="descripcion">Tienes que mira hacia abajo durante 30 segundos.</p>
      <img s src="{{ url_for('static', filename ='./assets/img/examenes/primer_nivel/abajo.png') }}" alt="Descripción de la imagen">
    </div>
    <div id="imagen5" class="imagenDiv imagen4" style="display: none; margin: 0 auto;">
      <br><p class="titulo">Instrucciones</p><p class="descripcion">Tienes que mira hacia arriba durante 30 segundos.</p>
      <img s src="{{ url_for('static', filename ='./assets/img/examenes/primer_nivel/izquierda.png') }}" alt="Descripción de la imagen">
    </div>
    <div id="imagen6" class="imagenDiv imagen5" style="display: none; margin: 0 auto;">
      <br><p class="titulo">Teminamos</p><p class="descripcion"> Vuelve pronto</p>
    </div>
      <button id="cambiarImagenBtn" onclick="cambiarImagen()" style="position: absolute; top: 88%; left:59%; transform: translate(-50%, -50%); padding: 10px 15px; font-size: 14px; background-color: #08b324; color: #fff; border: none; border-radius: 25px;">Continuar</button> 
    </div>
  </div>

  <div class="row justify-content-center mb-2">
     
  </div>

  <script>
    var imageIndex = 2; // Iniciar con la imagen 2
    var totalImages = 6;
    var btnDisabled = false;

    function cambiarImagen() {
      if (imageIndex > totalImages) {
        btnDisabled = true;
        return;
      }
      var currentImage = document.getElementById('imagen' + imageIndex);
      currentImage.style.display = 'block';
      if (imageIndex > 1) {
        var previousImage = document.getElementById('imagen' + (imageIndex - 1));
        previousImage.style.display = 'none';
      }
      imageIndex++;
      if (!btnDisabled) {
        document.getElementById('cambiarImagenBtn').disabled = true;
        setTimeout(function() {
          document.getElementById('cambiarImagenBtn').disabled = false;
        }, 3000);
      }
    }
  </script>

<style>
  .imagenDiv {
    height: 80vh;
    background-color: #D6FFC3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    max-width: 600px; /* Ajusta el ancho máximo según sea necesario */
    position: relative; /* Agrega posición relativa para posicionar elementos hijos */
  }
  .titulo {
    font-size: 3em;
    font-weight: bold;
  }
  .descripcion {
    font-size: 2em;
    white-space: pre-wrap; /* Permite que el texto se ajuste y se divida en varias líneas */
  }
  div.a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
  }
  .contador {
    font-size: 2em;
    position: absolute;
    bottom: 20px; /* Ajusta según sea necesario */
    visibility: visible; /* Asegura que el elemento esté visible */
  }
</style>
{% endblock %}
