{% extends 'public/base_cpanel.html' %}

{% block body %}
  <div class="row justify-content-center mb-2">
    <div class="table-responsive text-nowrap table-hover">
      <button id="cambiarImagenBtn" onclick="cambiarImagen()"style="position: absolute; top: 80%; left:85%; transform: translate(-50%, -50%); padding: 10px 15px; font-size: 14px; background-color: #08b324; color: #fff; border: none; border-radius: 25px;">Cambiar Imagen</button> 
      <img id="imagen1" style="max-width: 100%; height: auto;" src="{{ url_for('static', filename ='./assets/img/examenes/primer_nivel/inicio.png') }}" >
      <img id="imagen2" style="display: none; max-width: 100%; height: auto;" src="{{ url_for('static', filename ='./assets/img/examenes/primer_nivel/2.png') }}" >
      <img id="imagen3" style="display: none; max-width: 100%; height: auto;" src="{{ url_for('static', filename ='./assets/img/examenes/primer_nivel/3.png') }}" >
      <img id="imagen4" style="display: none; max-width: 100%; height: auto;" src="{{ url_for('static', filename ='./assets/img/examenes/primer_nivel/4.png') }}" >
      <img id="imagen5" style="display: none; max-width: 100%; height: auto;" src="{{ url_for('static', filename ='./assets/img/examenes/primer_nivel/5.png') }}" >
      <img id="imagen6" style="display: none; max-width: 100%; height: auto;" src="{{ url_for('static', filename ='./assets/img/examenes/primer_nivel/fin.png') }}" >
    </div>
  </div>

  <div class="row justify-content-center mb-2">
     
  </div>

  <script>


    var imageIndex = 2; // Iniciar con la imagen 2
    var totalImages = 6;
    var btnDisabled = false;

    function cambiarImagen() {
      if (imageIndex > totalImages) {
        btnDisabled = true;
        return;
      }
      var currentImage = document.getElementById('imagen' + imageIndex);
      currentImage.style.display = 'block';
      if (imageIndex > 1) {
        var previousImage = document.getElementById('imagen' + (imageIndex - 1));
        previousImage.style.display = 'none';
      }
      imageIndex++;
      if (!btnDisabled) {
        document.getElementById('cambiarImagenBtn').disabled = true;
        setTimeout(function() {
          document.getElementById('cambiarImagenBtn').disabled = false;
        }, 3000);
      }
    }


    function cambiarImagen() {
      // Ocultar el botón al cambiar la imagen
      document.getElementById('cambiarImagenBtn').style.display = 'none';

      // Mostrar el punto
      var punto = document.getElementById('punto');
      punto.style.display = 'block';

      // Mover el punto aleatoriamente
      moverPuntoAleatoriamente(punto);

      // Después de 10 segundos, mostrar el botón nuevamente
      setTimeout(function() {
        punto.style.display = 'none';
        document.getElementById('cambiarImagenBtn').style.display = 'block';
      }, 10000);
    }

    
  </script>
{% endblock %}
