{% extends 'public/base_cpanel.html' %}

{% block body %}
<style>
  div.a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    position: fixed;
  }
</style>

<div class="row justify-content-center mb-2">
  <div class="table-responsive text-nowrap table-hover">
    <button id="cambiarImagenBtn" onclick="cambiarImagen()" style="position: absolute; top: 80%; left:85%; transform: translate(-50%, -50%); padding: 10px 15px; font-size: 14px; background-color: #08b324; color: #fff; border: none; border-radius: 25px;">Continuar</button> 
    <img id="imagen1" style="max-width: 100%; height: auto;" src="{{ url_for('static', filename ='./assets/img/examenes/segundo_nivel/1.png') }}" >
    <img id="imagen2" style="max-width: 100%; height: auto; display: none;" src="{{ url_for('static', filename ='./assets/img/examenes/segundo_nivel/2.png') }}">
    <img id="imagen3" style="max-width: 100%; height: auto; display: none;" src="{{ url_for('static', filename ='./assets/img/examenes/segundo_nivel/3.png') }}">
    <img id="imagen4" style="max-width: 100%; height: auto; display: none;" src="{{ url_for('static', filename ='./assets/img/examenes/segundo_nivel/4.png') }}">
    <img id="imagen5" style="max-width: 100%; height: auto; display: none;" src="{{ url_for('static', filename ='./assets/img/examenes/segundo_nivel/5.png') }}">

  </div>
  <div id="punto" class='a' style="display: none;"></div>
</div>

<!-- Agrega jQuery antes de tu script -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
  var puntoAparecido = false;
  var velocidadAnimacion = 1000;
  var tiempoEsperaBoton = 5000;
  var numCambiosImagen = 0;

  document.getElementById('cambiarImagenBtn').style.display = 'block';

  $(document).ready(function () {
    animateDiv('.a');
  });

  function cambiarImagen() {
    document.getElementById('cambiarImagenBtn').style.display = 'none';

    var currentImageId = 'imagen' + (numCambiosImagen + 1);
    var nextImageId = 'imagen' + (numCambiosImagen + 2);

    var currentImage = document.getElementById(currentImageId);
    currentImage.style.display = 'none';

    var nextImage = document.getElementById(nextImageId);
    nextImage.style.display = 'block';

    velocidadAnimacion -= 100;

    if (!puntoAparecido) {
      puntoAparecido = true;
      document.getElementById('punto').style.display = 'block';
    }

    numCambiosImagen++;

    setTimeout(function () {
      document.getElementById('cambiarImagenBtn').style.display = 'block';

      if (numCambiosImagen === 3) {
        document.getElementById('punto').style.display = 'none';
      }
    }, tiempoEsperaBoton);

    tiempoEsperaBoton += 5000;
  }

  function makeNewPosition() {
    var h = $(window).height() - 50;
    var w = $(window).width() - 50;
    var nh = Math.floor(Math.random() * h);
    var nw = Math.floor(Math.random() * w);
    return [nh, nw];
  }

  function animateDiv(myclass) {
    var newq = makeNewPosition();
    $(myclass).animate({ top: newq[0], left: newq[1] }, velocidadAnimacion, function () {
      animateDiv(myclass);
    });
  }
</script>

{% endblock %}
