{% extends 'public/base_cpanel.html' %}

{% block body %}
<style>
  div.a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    position: fixed;
  }
</style>

<div class="row justify-content-center mb-2">
  <div class="table-responsive text-nowrap table-hover">
    <button id="cambiarImagenBtn" onclick="cambiarImagen()" style="position: absolute; top: 80%; left:85%; transform: translate(-50%, -50%); padding: 10px 15px; font-size: 14px; background-color: #08b324; color: #fff; border: none; border-radius: 25px;">Continuar</button> 
    <img id="imagen1" style="max-width: 100%; height: auto;" src="{{ url_for('static', filename ='./assets/img/examenes/segundo_nivel/1.png') }}" >
    <img id="imagen2" style="max-width: 100%; height: auto; display: none;" src="{{ url_for('static', filename ='./assets/img/examenes/segundo_nivel/2.png') }}">

  </div>
  <div id="punto" class='a' style="display: none;"></div>
</div>

<script>
  var puntoAparecido = false; // Variable para rastrear si el punto ha aparecido
  var velocidadAnimacion = 1000; // Inicializar la velocidad de la animación
  var tiempoEsperaBoton = 5000; // Inicializar el tiempo de espera para el botón
  var numCambiosImagen = 0; // Contador de cambios de imagen

  // Activar el botón desde el principio
  document.getElementById('cambiarImagenBtn').style.display = 'block';

  $(document).ready(function () {
    animateDiv('.a');
  });

  function cambiarImagen() {
    // Ocultar el botón al cambiar la imagen
    document.getElementById('cambiarImagenBtn').style.display = 'none';

    // Mostrar la imagen correspondiente
    var currentImage = document.getElementById('imagen2');
    currentImage.style.display = 'block';

    // Ocultar la imagen anterior
    var previousImage = document.getElementById('imagen1');
    previousImage.style.display = 'none';

  
    // Aumentar la velocidad de la animación del punto
    velocidadAnimacion -= 100;

    // Aparecer el punto si no ha aparecido aún
    if (!puntoAparecido) {
      puntoAparecido = true;
      document.getElementById('punto').style.display = 'block';
    }

    // Aumentar el contador de cambios de imagen
    numCambiosImagen++;

    // Después de 10 segundos, mostrar el botón y cambiar la imagen de fondo nuevamente
    setTimeout(function () {
      document.getElementById('cambiarImagenBtn').style.display = 'block';

      // Verificar si es la última vez que se cambia la imagen y ocultar el punto
      if (numCambiosImagen === 3) {
        document.getElementById('punto').style.display = 'none';
      }
    }, tiempoEsperaBoton);

    // Aumentar el tiempo de espera para el próximo clic en el botón
    tiempoEsperaBoton += 5000;
  }

  function makeNewPosition() {
    // Obtener dimensiones del viewport (restar la dimensión del div)
    var h = $(window).height() - 50;
    var w = $(window).width() - 50;
    var nh = Math.floor(Math.random() * h);
    var nw = Math.floor(Math.random() * w);
    return [nh, nw];
  }

  function animateDiv(myclass) {
    var newq = makeNewPosition();
    $(myclass).animate({ top: newq[0], left: newq[1] }, velocidadAnimacion, function () {
      animateDiv(myclass);
    });
  }
</script>

{% endblock %}
